.info {

    margin-right: 17px !important;
    
}
.fixed-top{
    background-color: #38ada9 !important;
}
.btn-primary{
    background-color: #38ada9;
    border: #55C7F4;
}

a{
    color: rgb(7, 93, 190);
}